/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */


/* ==========================================================================
   BODY
   ========================================================================== */

* { box-sizing: border-box; }

body {
	font-family: 'Open sans', sans-serif;
	color: #585858;
	margin: 0px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}
 

/* ==========================================================================
   HEADER
   ========================================================================== */

.navig{width: 100%;
	display: inline-block;
}

header {
	z-index: 1;
	position: relative;
	margin-top: 25px;
}

.logoJD {
	float: left;
	width: 20%;
	margin: 0px;
}

.navet {
	float: right;
	width: 62%;
	padding-top: 30px;
	font-size: 14px;
	text-decoration: none;
}

div.logoJD figure {margin-left: 0px} 

ul a li {padding: 0px 30px;}

ul a li:hover {
	color: black;
}

.icon-menu{
	margin-top:-8px;
	color:white;
	text-decoration: none;
	position: absolute;
    margin-left: 20px;
}

ul a{
	text-decoration: none;
    margin: -10px;
    }

ul{ 
	width: calc(100% - 50px);
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
	text-align: right;
	margin-top: 0px;
	text-transform: uppercase;
}

ul li{
	text-align: center;
	display:inline;
	color: white;
	padding: 30px;
}

 #jd {position: absolute;}

/* ==========================================================================
   MAIN
   ========================================================================== */

main {
	margin-top: -240px;
	position: relative;
	z-index: 0;
}

h2{
	padding-top: 40px;
	text-align: center;
	color: #aa00ff;
	font-size: 36px;
	line-height: 46px;
	font-family: 'Montserrat', sans-serif;	
	text-transform: uppercase;
}

h3{	
	color: black;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Montserrat regular', sans-serif;	
	font-weight: lighter;
}

h5 {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Montserrat';
	text-transform: uppercase;
	color: black;
}

article span{
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
    margin-bottom: 30px;
}


h4 {
	padding-top: 80px;
	text-align: center;
	color: #aa00ff;
	font-size: 36px;
	line-height: 46px;
	font-family: 'Montserrat', sans-serif;	
	text-transform: uppercase;
	margin: 0px 0px 25px;
}


/* ==========================================================================
   SECTION 1 : HELLO
   ========================================================================== */

.hello {
	background-image: url(../assets/images/handsome-guy.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	padding: 0 0 40px;
	height: 800px;
	margin-top: 135px;
}

.hello .container {padding-top: 110px;}

.hello h1 {
	padding-top: 130px;
	color: white;
	text-transform: uppercase;	
	font-size: 55px;
	line-height: 72px;
	font-family: 'Montserrat', sans-serif;	
}
.hello p {
	color:white;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 50px;
}

.buttonHello {
	padding-top: 35px;
}

.button {
	display: inline-block;
	padding: 12px 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid white;
	border-radius: 60px;
	font-family: 'Montserrat', sans-serif;
	transition: all 250ms linear;
}

.button:hover{
	background: white;
	color: purple;
	box-shadow: 0px 7px 20px 1px  rgba(0,0,0,0.2);
}

.definition{padding-right: 600px;}

/* ==========================================================================
   SECTION 2 : ABOUT ME
   ========================================================================== */

.aboutme {
	font-size: 14px;
	line-height: 26px;
	float: right;
	width: 720px;
}

.beaugosse{
	float: left;	
	margin: 0px 0px 20px -40px;
}

.button2 {
	display: inline-block;
	padding: 12px 30px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 60px;
	background:#aa00ff;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid transparent;
	transition: all 250ms linear;
	margin-right: 20px;
}

.button2:hover{
	background: white;
	color: purple;
	border-color: black;
	box-shadow: 0px 7px 20px 1px  rgba(0,0,0,0.2);
}

.button3 {
	display: inline-block;
	padding: 12px 30px;
	background: black;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 60px;
	border: 2px solid transparent;
	transition: all 250ms linear;
}

.button3:hover {
	color: black;
	border-color: black;
	background-color: white;
	box-shadow: 0px 7px 7px 1px  rgba(0,0,0,0.2);
}

.network{
	padding: 13px;
    background: black;
    transition: all 200ms linear;
    margin:0px 5px 0px 5px;
    text-decoration: none;

}

.network:hover{
	background: #aa00ff; 
	box-shadow: 0px 7px 20px 1px  rgba(0,0,0,0.2);}

	.iconephoto{
	text-align: center;
	padding-top:8px;
	margin-top: 25px;
	text-decoration: none;
}


/* ==========================================================================
   SECTION 3 : MY SERVICES
   ========================================================================== */

p#myservice {
	text-align: center;
	margin: 25px 150px 60px;
}

.myService {
	display: inline;
 	text-align: center;
}

.myServices{
	padding: 70px 60px 30px 60px;
	float: left;
    width: 31%;
    background: white;
    margin: 21px;
}

.section2{
	background:#f7f7f7;
	margin-top: 700px;
	padding-bottom: 880px;
}

#webdesign,
#content {margin-left: 0px}

#support,
#graphic{margin-right: 0px}

.barrenoire{
	border: 1px solid black;
	text-align: center;
	background: black;
	width: 160px;
	margin:0px auto;
}

/* ==========================================================================
   SECTION 4 : PORTFOLIO
   ========================================================================== */

.barrenoire1{
	border: 1px solid black;
	text-align: center;
	background: black;
	width: 120px;
	margin:0px auto;
}

 .logo{
 	width: 50%
 	float: left;
 }

.recipe header div p,
.site header div p {
	width:600px;
	color:white;
}

.categorie {
	font-family: 'Montserrat';
	text-transform: uppercase;
	display: inline-block;
    text-align: center;
    border: solid black 1px;
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    margin: 0px 8px;    
}

.categorie:hover{
	background-color:#aa00ff;
	color: white;
	border-color: #aa00ff;
	transition: 200ms linear;
}

.portfolio{
	float: left;
    width: 31%;
    background: white;
    margin: 21px;
}

#portfolio1,
#portfolio4 {margin-left: 0px;}

#portfolio3,
#portfolio6 {margin-right: 0px;}

.liste{
	text-align:center;
	margin-bottom: 40px;
}

.section3{
	padding-bottom: 900px;
}

/* ==========================================================================
   SECTION 5 : REVIEW
   ========================================================================== */

.section4{
	padding-bottom: 100px;
	background:#f7f7f7;
}

.barrenoire2{
	border: 1px solid black;
	text-align: center;
	background: black;
	width: 100px;
	margin:0px auto;
}

.container2{
	width: 900px;
	margin: 0 auto;
}

.avis{
	background: white;
	width: 100%;
	padding-bottom: 30px;
}

.nadine{
	display: block;
	text-align: center;
	margin-top: 100px;
}
 
img.nadia{
	border: solid 3px	;
    border-radius: 50%;
    border-color: #aa00ff;
    margin-top: -55px;
}

.avisnadia{text-align: center;}

div.stars{	
	display: block;
	text-align: center;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
	background: #aa00ff;
	z-index: 1;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	padding: 20px;
	font-family: 'Montserrat';
	color: white;
}